.text-default.about
  .l-header-fullimg
    %div.wrapper
      = title "à propos"
  .wrapper
    %p.text-intro
      Jangala Market est la place de marché qui connecte 
      %br
      les boutiques et magasins de Paris avec les internautes de leur quartier.
    .l-2cols
      .col
        %h2 Pourquoi Jangala ?
        %p 3 millions de parisiens – 20 arrondissements – plus de 80 quartiers – 65 000 boutiques et commerces de proximité à Paris – des milliers de promotions et bons plans – des millions de produits et services proposés...
        %p La ville est une jungle. Un écosystème toujours en mouvement. Les interactions et découvertes y sont quotidiennes, des boutiques ouvrent tous les jours et dans tous les quartiers et les tendances évoluent.
        %p Notre souhait est de pouvoir réorganiser toute cette information et ces nouveautés pour les mettre à disposition des internautes de façon claire et personnalisée.
        %p Nous voulons permettre aux commerçants d’utiliser le web pour optimiser leur activité et leur permettre de rencontrer leurs clients de façon simple, fluide et autonome.
      .col
        %h2 Qui est Jangala ?
        %p Jangala signifie Jungle en Sanskrit, une ancienne langue du sous-continent indien. La start-up Jangala Market a été créée durant l’été 2012 et propose un concept basé sur une plateforme web, une application mobile et une application tablette pour permettre aux commerçants et à leurs clients de se rencontrer plus facilement grâce aux technologies.
        %h2 Retrouvez-nous
        %ul
          %li= link_to "Sur notre Blog", "http://blog.jangalamarket.com"
          %li= link_to "Sur Facebook", "http://www.facebook.com/jangalamarket"
          %li= link_to "Sur Twitter", "http://www.twitter.com/jangalamarket"
          %li= link_to "Sur Pinterest", "http://www.pinterest.com/jangalamarket"
      
    %h2 Les fondateurs
    .l-2cols
      .col
        = image_tag 'landing/fondateur-jeanbaptiste.jpg', alt: "Jean-Baptiste Malpel, co-fondateur de Jangala Market", class: 'fleft mr1 border-gl8 rounded4'
        %h3.mb0 Jean-Baptiste Malpel
        #h4.mb05 CEO
        =link_to 'jeanbaptiste@jangalamarket.com', 'mailto:jeanbaptiste@jangalamarket.com'
      .col
        = image_tag 'landing/fondateur-jean.jpg', alt: "Jean Suhas, co-fondateur de Jangala Market", class: 'fleft mr1 rounded4 border-gl8'
        %h3.mb0 Jean Suhas
        #h4.mb05 COO
        =link_to 'jean@jangalamarket.com', 'mailto:jean@jangalamarket.com'
        