.l-4cols.articles.wrapper.pt3
  %h1.mod-title.mt0
    %span Jangalist
  .col.double
    %h2.clearfix.mb05.a-title
      %span.title Mes produits
  .col.double
    %h2.clearfix.mb05.a-title
      %span.title.f-color2 Mes promotions
.l-4cols.articles.wrapper.articles-col
  %section.articles-col.col.double.products.l-2cols
    .article.col
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col.last
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col.last
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
  %section.articles-col.col.double.deals.l-2cols
    .article.col
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col.last
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre 
    .article.col.last
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre
    .article.col
      = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#'
      %h3
        %a{href:"#"} Super chaussures
      %h4 90€
      %p Si vous trouvez des meilleures, on vous rembourse le prix + un iPad!
      .shop.clearfix
        = link_to image_tag('landing/fondateur-jeanbaptiste.jpg'), '#', "class" => "profile"
        %h5
          %a.title{href:'#'} Epicerie Janga
          %br
          %a.btn.mini{href: '#'}
            %i.with-icon.yellow +
            Suivre        
