.edit-wrapper.article.type-products{id: "products_#{product.id}",class: "#{@edit_store_mode ? 'editable': ''}"}
  -if @edit_store_mode
    .hidden-edit.left
      .control-buttons
        = link_to t(:edit), '#', class: 'btn btn-primary btn-mini edit',:popup => 'edit'
        = link_to t(:deactivate), '#', class: 'btn btn-primary btn-mini delete',:popup => 'delete'
  = link_to image_tag(product.image_url(:middle)), product #"/assets/image_example_middle.jpg"), product # 
  %h3= link_to product.name, product
  - unless product.tag.nil?
    %ul.tagcloud.small
      %li=link_to product.tag.name, "#"
  %h4= number_to_currency product.price
  %p= ellipsis product.description